/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /*box-sizing: border-box does not added padding and border to the actual height and width*/
}

body {
  font-family: 'Lato' sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; /*element will be 1.7 times higher*/
  color: #777; /*font color*/
  padding: 30px;

  /*inherited by other css fonts*/
}

.header {
  height: 100vh; /*95% of view port at each point*/
  /*A viewport represents the area in computer graphics being currently viewed. it is generally the same as the browser window*/
  background-image: linear-gradient(
      to right bottom,
      rgba(111, 213, 128, 0.61),
      #28b48593
    ),
    url('../img/hero.jpg');
  background-size: cover; /*this will fit the whote view port or window*/
  background-position: top; /*bottom crops and top remain same*/

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /*clock-wise*/

  /*https://bennettfeely.com/clippy/ for click path polygon*/

  position: relative;
}
.logo-box {
  position: absolute;
  left: 40px;
  top: 40px;
}

.logo {
  height: 35px;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
}
